<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>dilemmawalker company home page</title>
</head>

<body>
    <h2>dilemmawalker company home page</h2>
<hr>
    Welcome to company home page!

<!--    only visible to people with MANAGER role-->
    <div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for manager peeps)
    </p>
    </div>

<!--    only visible to people with ADMIN role-->
    <div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for Admin Peeps)
    </p>
    </div>


<!--    Display user name & role-->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

<!--    Add a logout button-->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" />

</form>
</body>
</html>